.background{
    border-top: 2px solid #dddddd;
    background-color: #f9f9f9;
}
.button{
    padding: 5px;
    border: 0px;
    background-color: #3b8246;
    color: #d1e3d8;
}
.centered{
    text-align: center;
}
.container{
    padding-top: 20px;
}
.domain-name-container {
    padding: 20px 30px 23px 30px;
    height: 100%;
    border: 1px solid #c7c7c7;
}
.green{
    color: #3b8246;
    font-weight: 600;
}
.heading {
    padding-bottom: 30px;
    font-weight: 600;
}
.flow-right{
    float: right;
}
.padding-lr {
    padding: 0 20px;
}
.p-b-5{
    padding-bottom: 7px;
}
.p-t-5{
    padding-top: 7px;
}
.website {
    padding-top: 5px;
    padding-bottom: 30px;
}

.website:hover{
    cursor: pointer;
}

input{
    width: 100%;
    padding: 2px 0 2px 10px;
    border: 2px solid #d9d9d9;
}
